body {
    background: #c0deed url('../img/bg.png') no-repeat fixed;
    color: #66757f;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header img {
    margin-top: 3em;
    width: 180px;
}

header img.framed {
    border: 5px solid white;
    border-radius: 15px;
}

header h1 {
    color: #66757f;
    font-family: 'Satisfy', cursive;
    font-size: 4em;
    margin-bottom: 0;
}

header p {
    color: #66757f;
    font-size: 1.2em;
    max-width: 600px;
    margin: 0.5em auto;
}

#content {
    margin: 3em 10%;
}

a {
    color: #0084b4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-bottom: 8em;
}

form input {
    border: 1px solid #99CDE1;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    outline: none;
    padding: 0.3em 0.8em;
    width: 8em;
}

form input[type="submit"] {
    background-color: #0084b4;
    color: #fff;
    width: auto;
}

form input[type="submit"]:hover {
    background-color: #00759f;
}

a#go-back {
    background-color: #0084b4;
    border: 1px solid #99CDE1;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    margin: 2em auto 0;
    padding: 0.3em 0.8em;
    text-decoration: none;
    width: 6em;
}

a#go-back:hover {
    background-color: #00759f;
}

.box {
    background-color: #fff;
    border: 1px solid #8ec1da;
    border-radius: 4px;
    max-width: 800px;
    margin: 0 auto 1em;
    padding: 1em;
    text-align: left;
}

.box .title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.3em;
}

.box .title h2 {
    margin-bottom: 0.2em;
}

.emphasis {
    font-weight: bold;
}

.error {
    background-color: #e45959;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    margin: 0 auto 1em;
    max-width: 300px;
    padding: 1em;
}

.blue {
    color: #55acee;
}

.pink {
    color: #d342b6;
}

.capitalize {
    text-transform: capitalize;
}